@font-face {
    font-family: "Myriad Pro";
    src: url(/fonts/myriad/MYRIADPRO-REGULAR.OTF);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-size-adjust: none;
    text-size-adjust: auto;
    text-size-adjust: 80%;
    text-size-adjust: inherit;
    text-size-adjust: initial;
    text-size-adjust: unset;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100%;
    border: 1px solid rgba(35, 35, 35, 0.1);
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #fbfbfb;
    border-radius: 5px;

}

input[type="submit"] {
    position: relative;
    bottom: 12px;
    margin: 0 16px;
    min-width: calc(100% - 32px);
    height: 48px;
    background-color: #191919;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: inherit;
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
}

form {
    margin: 0 16px;
    z-index: 0;
}


.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    background-color: #808384;
    padding: 17px;
}

.title {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #191919;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 32px;
}




.name, .phone {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-bottom: 3px;
    color: #737478;
    margin-left: 15px;
}



form, .wrapper {
    background-color: #fff;
}

.contact-info {
    margin-bottom: 18px;
}

.email {
    margin-bottom: 24px;
}

.terms {
    margin-bottom: 50px;
}

.term-1, .term-2 {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;

}



#name, #email {
    width: 100%;
    background: #FFFFFF;
    border: 1.5px solid #DBDBDC;
    border-radius: 8px;
}

#name:focus, #email:focus {
    outline: none !important;
    border: 1.5px solid #ED712E !important;
}


.hidden {
    display: none;
}

.blue-span {
    color: #0C84FF
}



input[type=text] {
    border-bottom: none;
    background: #FFFFFF;
    border: 1.5px solid #DBDBDC;
    border-radius: 8px;
    min-height: 48px;
    margin-bottom: 0;
    padding-left: 15px;
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #3B3B3B;
}

input[type=text]::placeholder {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #3B3B3B;
}


input[type=checkbox] {
    display: none;
}


label {
    background-color: #fff;
    color: #3B3B3B;

}

input[type=checkbox]~label {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    letter-spacing: -0.02em;
    color: #3B3B3B;
    position: static;
    cursor: pointer;
}



input[type=checkbox]+label {
    display: flex;
    /* padding-left: 48px; */
    width: calc(100% - 48px);

}


input[type=checkbox]+label::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    margin-left: 15px;
    background: url("/img/notChecked.png");
    background-size: 100% 100%;
}

input[type=checkbox]:checked+label::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    margin-left: 15px;
    background: url("/img/checked2.png");
    background-size: 100% 100%;
}


.subp {
    display: block;
    width: calc(100% - 60px);
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  
    letter-spacing: -0.02em;
}