@font-face {
    font-family: "Myriad Pro";
    src: url(/fonts/myriad/MYRIADPRO-REGULAR.OTF);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-size-adjust: none;
    text-size-adjust: auto;
    text-size-adjust: 80%;
    text-size-adjust: inherit;
    text-size-adjust: initial;
    text-size-adjust: unset;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;

}



.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100%;
    border: 1px solid rgba(35, 35, 35, 0.1);
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #fbfbfb;
    border-radius: 5px;
    background: #F3F3F3;

}

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808384;
    padding: 17px;
}

.header img {
    background-color: transparent;
}

form {
    z-index: 0;
}

.main-question {
    padding: 0 16px;
    margin-bottom: 32px;

}


.main-question p {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #191919;
    padding-top: 24px;
}

.question-title {
    margin-bottom: 62px;
}

.question {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000C1A;
    margin: 8px;
}

.content label {
    display: block;
    min-height: 32px;
    padding: 8px 16px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    background-color: #E5E7EA;
    width: fit-content;
    border-radius: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    margin-right: 2px;
    margin-left: 2px;
}

input[type="submit"] {
    position: relative;
    bottom: 12px;
    margin: 0 16px;
    min-width: calc(100% - 32px);
    min-height: 48px !important;
    background-color: #191919;
    border-radius: 10px !important;
    border: none;
    cursor: pointer;
    width: inherit;
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
}


.comment {
    color: gray;
    margin-top: 25px;
}

.comment_p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000C1A;
    opacity: 0.5;
    margin-bottom: 10px;
}

input[type=text], textarea {
    border: none;
    border-bottom: 2px solid #E40038;
    width: 100%;
    min-height: 40px;
    padding: 10px 15px;
    resize: none;
    margin-bottom: 12px;
}

textarea:focus {
    outline: none;
}



.hidden {
    display: none !important;
}

.inVisible {
    visibility: hidden;
}

.rating {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 28px;
    cursor: pointer;
    transform: rotateY(180deg);
}

.rating label {
    cursor: pointer;
}





.rating label:hover,
.rating label:hover~label,
.rating label:checked~label,
.rating label:checked {
    color: #E40038
}

.end-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 42%
}

#end-img {
    margin-bottom: 32px;
}

.thanks {
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #1E2025;
}

.youHelpUs {
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8B95A4;
}

.error-message, .error-message_2, .error-message_3 {
    margin-bottom: 15px;
    color: red;
    position: relative;
}


.error-message_3 {
    margin-bottom: 15px;
    color: red;
    position: relative;
    top: -10px;
}

textarea::placeholder {
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000C1A;
    opacity: 0.23;
    border-left: 2px solid black;
    padding-left: 5px;
}

.message {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 25px;
}

::-webkit-scrollbar {
    width: 27px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #E7E7E7;
    background: #E7E7E7;

    height: 28px;
    cursor: pointer;
}




.question-title p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 12px;
}

.sub-question {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1E2025;
    padding-bottom: 24px;
    border-bottom: 1px solid #001C3D;
}

fieldset {
    border: none;
    position: relative;
    margin-bottom: 40px;
}

fieldset p {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #191919;
    margin-bottom: 24px;
}

.wrapper {
    margin-bottom: 20px;
    background: #F3F3F3;
}

fieldset input[type=text] {
    min-height: 48px;
    outline: none;
    width: 100%;
    padding: 10px 15px;
    resize: none;
    border: 1.5px solid #DBDBDC;
    border-radius: 8px;
    background: #DBDBDC;
}

textarea::placeholder {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #737478;
}

.q-3 {
    margin-bottom: 12px;
}

.sub-question-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000C1A;
    margin-bottom: 55px;
}

.sub-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color: #000C1A;
    margin-bottom: 16px;
    margin-top: 50px;
}

.sub-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000C1A;
    margin-bottom: 8px;
    margin-top: 20px;
}

.sub-3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8B95A4;
    margin-bottom: 32px;
}

#range {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 42px;
}

.hidden {
    display: none;
}


body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.q-3-1, .q-3-2, .q-3-3 {
    margin-top: 20px;
    scroll-margin: 20px;
}



.error {
    font-size: 12px;
    font-weight: 500;
    color: red;
    margin: 0 0 15px 10px;
}


.range input[type=radio]+label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8B95A4;
    padding: 8px;
    background: #E5E7EA;
    margin-bottom: 12px;
    cursor: pointer;
}

.range input[type=radio]:checked+label {
    width: 30px;
    height: 30px;
    background: #E40038;
    border: 5px solid #EBEDEF;
    color: #E40038;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

}

.range span {
    background: transparent;
    position: relative;
    top: -30px
}

.rateDescription {
    position: relative;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 1px solid #EBEDEF;
    color: #E40038;
    padding-bottom: 55px;
    margin-bottom: 8px;
    width: fit-content;
}


table {
    width: calc(100% - 0px);
    margin: auto;
    margin-bottom: 12px;
    border-collapse: collapse;
}

tr {
    height: 8px;
    width: 100%;
}

th {
    width: calc(100% / 5);
    height: 6px;
    border-right: 1.5px solid #E7E7E7;
    border-left: 1.5px solid #E7E7E7;
}

td {
    width: calc(100% / 10);
    height: 8px;
    border-right: 1.5px solid #E7E7E7;
    border-left: 1.5px solid #E7E7E7;
}


.container {
    margin: 0;
    padding: 0;
    background: #F3F3F3;
    z-index: 10;
    position: relative;
    background: #F3F3F3;
}

#q-1 {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #D8D8D8;
}

::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #E7E7E7;
    height: 28px;
    cursor: pointer;
}


.reasons label {
    width: 100%;
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #737478;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#q-0 {
    padding: 0 30px;
    background: #fff;
    position: relative;
}

#content {
    background: #F3F3F3;
    padding: 18px 16px;
}


output {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -28px;
    margin-left: -24px;
    width: 48px;
    height: 57px;
    background: url("../img/rect2.svg");
    background-size: 100% 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;

}

output span {
    position: relative;
    top: 5px
}

.initial-range {
    width: 17px;
    height: 28px;
    border-radius: 14px 0 0 14px;
    background: #898989;
    display: block;
    position: absolute;
    top: 0px;
    left: -17px;
    z-index: 0;
    cursor: pointer;
}


.initial-range-right {
    width: 17px;
    height: 28px;
    border-radius: 0 14px 14px 0;
    background: #E7E7E7;
    display: block;
    position: absolute;
    top: 0px;
    left: 100%;
    cursor: pointer
}

#comment1 {
    width: 100%;
    background: #FFFFFF;
    border: 1.5px solid #DBDBDC;
    border-radius: 8px;
    min-height: 96px;
}

#comment1:focus {
    outline: none !important;
    border: 1.5px solid #ED712E !important;
}


.range-container {
    position: relative;
    width: 100%
}

.reason {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label::before {
    box-sizing: border-box;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: 15px;
    background: url(/img/notChecked2.png);
    background-size: 100% 100%;
}



input[type="checkbox"]:checked+label {
    background-color: #ED712E;
    width: 100%;
    border-radius: 8px;
    color: #fff
}

input[type="checkbox"]:checked+label::before {
    box-sizing: border-box;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: 15px;
    background: url(/img/checked.png);
    background-size: 100% 100%;
}



input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 28px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;


}

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].styled-slider {
    height: 28px;
    -webkit-appearance: none;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(var(--ratio) * 100%);
}

input[type=range].styled-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    position: relative;

    -webkit-appearance: none;
    width: 32px;
    height: 100px;
    border: none;
    background: transparent;
    box-shadow: none;
    z-index: 100;
    margin-left: var(--thumbLeftMargin);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 28px;
    /* border: 1px solid #b2b2b2; */
    /* border-radius: 14px; */
    background: #E7E7E7;
    box-shadow: none;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
    background: #E7E7E7;
    /* border-color: #9a9a9a; */
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
    background: #E7E7E7;
    /* border-color: #c1c1c1; */
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#ED712E, #ED712E) 0/var(--sx) 100% no-repeat, #E7E7E7;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#ED712E, #ED712E) 0/var(--sx) 100% no-repeat, #E7E7E7;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(#ED712E, #ED712E) 0/var(--sx) 100% no-repeat, #E7E7E7;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: 0;
    height: 28px;
    visibility: hidden;
    -webkit-appearance: none;

}

input[type=range].styled-slider::-moz-range-track {
    height: max(calc(28px - 1px - 1px), 0px);
    /* border: 1px solid #b2b2b2; */
    /* border-radius: 14px; */
    background: #E7E7E7;
    box-shadow: none;
}

input[type=range].styled-slider:hover::-moz-range-track {
    background: #E7E7E7;
    /* border-color: #9a9a9a; */
}

input[type=range].styled-slider:active::-moz-range-track {
    background: #E7E7E7;
    /* border-color: #c1c1c1; */
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#ED712E, #ED712E) 0/var(--sx) 100% no-repeat, #E7E7E7;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#ED712E, #ED712E) 0/var(--sx) 100% no-repeat, #E7E7E7;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
    background: linear-gradient(#ED712E, #ED712E) 0/var(--sx) 100% no-repeat, #E7E7E7;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: #b7784c;
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: 0;
    box-sizing: border-box;
    -webkit-appearance: none;

}

input[type=range].styled-slider::-ms-track {
    height: 28px;
    /* border-radius: 14px; */
    background: #E7E7E7;
    /* border: 1px solid #b2b2b2; */
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover {
    background: #b7784c;
}

input[type=range].styled-slider:hover::-ms-track {
    background: #E7E7E7;
    /* border-color: #9a9a9a; */
}

input[type=range].styled-slider::-ms-thumb:active {
    background: #ED712E;
}

input[type=range].styled-slider:active::-ms-track {
    background: #E7E7E7;
    /* border-color: #c1c1c1; */
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: max(calc(28px - 1px - 1px), 0px);
    /* border-radius: 14px 0 0 14px; */
    margin: -1px 0 -1px -1px;
    background: #ED712E;
    border: 1px solid #ED712E;
    border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
    background: #ED712E;
    border-color: #ED712E;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
    background: #ED712E;
    border-color: #ED712E;
}



.another {
    margin-bottom: 0;
}


.numbers {
    display: flex;
    width: calc(100% + 6px);
    justify-content: space-between;
    align-items: center;
    height: 24px;
    margin-bottom: 8px;
    /* margin-left: 24px */
}

.numbers span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #BCBFC4;
    width: 12px;
    margin-left: -6px;
}

#output span {
    color: transparent;
    user-select: none;
}